doctype html
html(lang="ja")
    head
        meta(charset="utf-8")
        link(rel="stylesheet" type="text/css" href="/css/task.css")
        title Node-Vue-Todo | Home
    body
        h1 Node-Vue-Todo | Rooms#show
        div.container
            div.row
                div.col-sm-6.col-sm-offset-3
                    div.newTodoForm#wrapTodos
                        form.form(v-on:submit.prevent="addTask")
                            div.form-group
                                input(type="text" v-model="newTask"  placeholder="new task ...").form-control
                            div.form-group
                                div(v-for="(task, index) in tasks")
                                    h2(v-bind:class="{completed: task.completed}")
                                        span
                                            input(type="checkbox" v-on:click="toggleComplete(index)" v-model="task.completed")
                                        | {{task.title}}
                                        span
                                            input.btn(type="button" v-on:click="deleteTask(index)" value="x")

        script(src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.4/vue.min.js")
        script(src="https://cdn.jsdelivr.net/vue.resource/1.0.3/vue-resource.min.js")
        script(src="/js/task.js")