doctype html
html(lang="ja")
    head
        meta(charset="utf-8")
        link(rel="stylesheet" type="text/css" href="/css/room.css")
        title Node-Vue-Todo | Home
    body
        h1 Node-Vue-Todo | Rooms#show
        div.container
            div.row
                div.col-sm-6.col-sm-offset-3
                    h2
                        | #{room_id}

