doctype html
html(lang="ja")
    head
        meta(charset="utf-8")
        style(src="/css/task.css")
        title Node-Vue-Todo | todos
    body
        h1 Node-Vue-Todo | Todos#index
        div.container
            div.row
                div.col-sm-6.col-sm-offset-3
                    div.newTodoForm
                        form(method="post" action="/todos/create").form
                            div.form-group
                                input(type="text" name="title").form-control
                            div.form-group
                                input(type="submit" value="create!").btn
                    div#wrapTodos
                        if todos
                            each todo in todos
                                section
                                    h2 #{todo.title}
                    div#wrapTodosTest
                        div(v-for="value in todos")
                            h2 {{value.title}}

        script(src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.4/vue.min.js")
        script(src="/js/bundle.js")


