doctype html
html(lang="ja")
    head
        meta(charset="utf-8")
        link(rel="stylesheet" type="text/css" href="/css/task.css")
        title Node-Vue-Todo | 404 Page Not Found
    body
        div.container
            div.row
                div.col-sm-6.col-sm-offset-3
                    h1 404 Page Not Found
                    p お探しのページはございません。

