doctype html
html(lang="ja")
    head
        meta(charset="utf-8")
        link(rel="stylesheet" type="text/css" href="/css/task.css")
        title Node-Vue-Todo | Error
    body
        h1 Error
        div.container
            div.row
                div.col-sm-6.col-sm-offset-3
                    p #{message}
                    p #{error}

